<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ccconeautomationfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b6167bc4-c92a-40ba-9811-4fe6f8575bbd/resourceGroups/CCCOne/providers/Microsoft.Web/sites/ccconeautomationfunction</ResourceId>
    <UserName>$ccconeautomationfunction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ccconeautomationfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>